<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="self.sbdev.weatherdot"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/weather_dot_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/weather_dot_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherDot">
        <activity
            android:name="self.sbdev.weatherdot.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.WeatherDot.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="self.sbdev.weatherdot.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="self.sbdev.weatherdot.activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherDot">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="self.sbdev.weatherdot.activities.MainActivity" />
        </activity>
    </application>

</manifest>